footer {
  background-color: var(--color-secondary);
}

.text {
  color: var(--color-primary-light);
}

.footer-icon {
  color: var(--color-primary-light);
}

.event {
  text-decoration: underline;
}

.terms {
  color: var(--color-primary-light);
  text-decoration: none;
}

.embed-1by1 {
  padding-top: 0%;
}
